/* Main CSS file for sailormary13.github.io
@author mkcummins
*/

/* thanks for getting me started, http://jmcglone.com/guides/github-pages/*/
nav {
    padding: 4% 5% 0.5% 5%;
}

nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
p {
    font-size: 1em;
    line-height: 1.1em;
    color: #333;
}
footer {
    font-size: .8em;
    padding: 2% 5%;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.likeToDoIcon {
    margin-bottom: 1%;
    max-width: 400px;
}

.likeToDoCol {
    text-align: center;
    padding: 5% 5% 2% 5%;
}

section {
    padding: 10% 5% 12% 5%;
}

.oddSection {
    background-color: #f9f9f9;
}

h1 {
    padding-top: 5%;
}

#profilePic {
    display: block;
    width: 100%;
    margin: auto;
    max-width: 200px;
}

#introP {
    max-width: 600px;
}

h6 {
    font-weight: bold;
    margin-bottom: 8%;
    margin-top: 5%;
}

@media screen and (max-width: 800px) {
  h1, #introP {
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  h1 {
    padding-top: 1%;
  }
}
