/* Main CSS file for sailormary13.github.io
@author mkcummins
*/

body {
    color: #2f3030;
}

nav {
    padding: 4% 4% 0.5% 4%;
}

nav ul, footer ul {
    list-style: none;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    font-size: 1.2em;
}

a {
    text-decoration: none;
    color: #6d6d6d;
    text-transform: uppercase;
    letter-spacing: 2px;
}

a:hover {
    text-decoration: none;
    color: #6d6d6d;
    font-weight: bold;
}

a img {
    display: block;
}

p {
    font-size: 1em;
    line-height: 1.1em;
}
footer {
    font-size: .8em;
    padding: 3% 5%;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

section {
    padding: 10% 5% 10% 5%;
}

.oddSection {
    background-color: #f9f9f9;
}

h1 {
    padding-top: 3%;
    font-size: 5em;
}

h1, h2, h3, h4 {
        font-weight: 350;
        line-height: 1.2;
}

#profilePic {
    display: block;
    width: 90%;
    margin: auto;
}

.introP {
    max-width: 800px;
    line-height: 1.4;
    font-size: 1.4em;
    padding: 1%;
}

h6 {
    font-size: 1.3em;
    font-weight: normal;
    margin-top: 5%;
}

@media screen and (max-width: 975px) {
  h1 {
      font-size: 4em;
  }
}

@media screen and (max-width: 767.5px) {
  h1 {
    padding-top: 5%;
    font-size: 2.6em;
    text-align: center;
  }
  #profilePic {
      max-width: 250px;
  }
  .introP {
      text-align: center;
  }
}

@media screen and (max-width: 350px) {
  nav ul {
      margin: 0;
      margin-block-start: 0;
      margin-inline-start: 0;
      padding-inline-start: 0;
      margin-block-end: 0;
  }
}

h3 {
    margin-bottom: 5%;
}

article {
    margin: 0 4% 9% 4%;
}

article li {
    line-height: 1.1em;
}

h4 {
    margin-top: 3%;
}

.portfolio-img {
    max-width: 70%;
    display: block;
    margin: auto;
}

@media screen and (min-width: 1024px) {
  .mainContent {
      padding-left: 7%;
      padding-right: 7%;
  }
}

.badge {
    background-color: #f9f9f9;
    font-weight: normal;
    color: #2f3030;
}

.btn-align-end {
    margin-top: auto;
    align-self: flex-end;
}

.card {
    margin-bottom: 4em;
    margin-right: 2%;
}

.header-info {
    margin-bottom: 5%;
}
