/* Main CSS file for sailormary13.github.io
@author mkcummins
*/

body {
    color: #2f3030;
}

nav {
    padding: 4% 5% 0.5% 5%;
}

nav ul, footer ul {
    padding: 0px;
    list-style: none;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    font-size: 1.2em;
}

a {
    text-decoration: none;
    color: #6d6d6d;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 2px;
}

a:hover {
    text-decoration: none;
    color: #6d6d6d;
}

ul a::after, a h6::after {
    content: '';
    display: block;
    width: 0;
    height: 1.3px;
    background: #6d6d6d;
    transition: width .3s;
}

ul a:hover::after, a h6:hover::after {
    width: 100%;
}

p {
    font-size: 1em;
    line-height: 1.1em;
}
footer {
    font-size: .8em;
    padding: 2% 5%;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.likeToDoIcon {
    margin-bottom: 1%;
    width: 100%;
    margin-top: 5%;
}

.likeToDoCol {
    text-align: center;
    padding: 5% 5% 2% 5%;
}

section {
    padding: 12% 5% 12% 5%;
}

.oddSection {
    background-color: #f9f9f9;
}

h1 {
    padding-top: 5%;
    font-size: 3em;
}

#profilePic {
    display: block;
    width: 100%;
    margin: auto;
    max-width: 600px;
}

#introP {
    max-width: 600px;
    line-height: 1.4;
    font-size: 1.1em;
}

h6 {
    font-size: 1.3em;
    font-weight: normal;
    /* margin-bottom: 8%; */
    margin-top: 5%;
}

@media screen and (max-width: 900px) {
  h1 {
    padding-top: 0%;
  }
  #introP {
      font-size: 1em;
  }
}

@media screen and (max-width: 767.5px) {
  h1 {
    padding-top: 5%;
    font-size: 2.4em;
    text-align: center;
  }
  #profilePic {
      max-width: 250px;
  }
  #introP {
      text-align: center;
  }
}

h3 {
    margin-bottom: 2%;
}
